h1= title
pre
    привет это мой маленький корявенький чятик на node.js
    если у тебя возникло желание его сломать то учти 
    железо на котором он крутится очень слабенькое

form.chatForm(method="")
    input(type="text",style="width:1000px;").message
    input(type="submit")

div.messages(style="border:#000 solid 1px; display:block; height:300px; overflow:scroll")